name: Pull Request Validation

on:
  push:
  pull_request:
    branches:
      - main
  #schedule:
  #  - cron: "0 0 * * *"

jobs:
  hacs:
    name: HACS Action
    runs-on: "ubuntu-latest"
    steps:
      - name: HACS Action
        uses: "hacs/action@main"
        with:
          category: "integration"

  hassfest:
    name: Hassfest
    runs-on: "ubuntu-latest"
    steps:
      - uses: "actions/checkout@v3"
      - uses: "home-assistant/actions/hassfest@master"
  
  pytest:
    name: Run Tests
    runs-on: "ubuntu-latest"
    permissions:
      contents: read
    steps:
      - name: Checkout code
        uses: "actions/checkout@v3"
      
      - name: Set up Python
        uses: "actions/setup-python@v4"
        with:
          python-version: "3.12"
      
      - name: Install dependencies
        run: |
          pip install --upgrade pip
          pip install -r requirements_test.txt
      
      - name: Run pytest
        run: pytest tests/test_sensor.py -v
      
